html,body {
  box-sizing: border-box;
  width:100%;
  height:100%;
}

.shoppingBox {
  display: flex;
  justify-content: center;
  color: white;
  max-width: 1000px;
  height: 100%;
  padding: 10px;
  border-radius: 5px;
  margin: auto;
  background: linear-gradient(to right, black, red, blue);
  font-size: 30px;
}

#userinput {
  width: 500px;
  height: 50px;
  border-radius: 10px;
  font-size: 30px;
}

#enter {
  width: 80px;
  height: 50px;
  border-radius: 10px;
}

