* {
	box-sizing: border-box;
}

body {
	background-color: rgba(1, 255, 255, 0.918);
}

/* todo list container styling  */
#todo-container {
  width: 90%;
  height: 60vh;
  margin: auto;
  padding: 1rem;
  background-color:rgba(101, 116, 167, 0.919);
  border-radius: 5px;
  box-shadow: 1px 10px 100px 50px rgba(38, 0, 255, 0.34);
}

/* input element styling  */
input {
	width: 80%;
	height: 30px;
	border: none;
	border-radius: 5px;
	font-size: 1.5rem;
}


 /* add fontsize dynamically using javascript when input value add then this fontsize makeup */
.fontSize {
	font-size: 1.5rem;
	color: white;
}

/* button styling */
button {
	width: fit-content;
	height: 38px;
	border: none;
	border-radius: 5px;
}

